
@{
    ViewData["Title"] = "ErreurSearch";
}

<h1>Erreur : L'article recherché n'existe pas!</h1>


<form asp-action="Liste">
    <div class="form-group">
        <input type="submit" value="Retour à la liste" class="btn btn-outline-dark" />
    </div>
</form>

